:root {
    --yellow: hsl(47, 88%, 63%);
    --paragraph: hsl(0, 0%, 42%);
    --text-color: hsl(0, 0%, 7%);
    --white: hsl(0, 0%, 100%);
}

html {
    overflow-y: hidden;
    overflow-x: hidden;  
} 

body {
    background-color: var(--yellow);
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Isso garante que o body ocupe toda a altura da viewport */
    overflow-y: hidden;
    overflow-x: hidden; 
    font-family: Figtree;
    place-content: center;
}

.card {
    box-sizing: border-box;
    width: 380px;
    height: 520px;
    border: 1px solid var(--text-color);
    border-radius: 20px;
    box-shadow: 8px 8px;
    background-color: var(--white);
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
    transition: all 0.2s linear;
}

@media (max-width: 400px) {
    .card {
        width: 320px;   
        height: 580px;
    }
}

.card:hover {
    box-shadow: 12px 12px;
    transition: all 0.2s linear;
}

.image {
    text-align: center;
    margin: 0px;
    background-image: url("assets/images/illustration-article.svg");
    height: 200px;
    border-radius: 20px;
    object-fit: contain;
}

.content {
    margin: 0px;
}

p {
    font-weight: 500;
}

.learning {
    display: block;
    display: block;
    line-height: 21px;
    background-color: var(--yellow);
    padding: 5px 3px 5px 5px;
    width: 80px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    margin-top: 24px;
    font-size: 16px;
}

.title {
    font-weight: 900;
    font-size: 24px;
    margin: 0px;
    color: var(--text-color);
}

.title:hover {
    color: var(--yellow);
}

.text {
    margin-top: 12px;
    color: var(--paragraph);
    font-size: 18px;
}
